/* Genel container */
.skillsContainer {
  background: white;
  border-radius: 12px;
  max-width: 1200px; /* Önceki 800px yerine daha geniş bir değer */
  width: 90%;         /* Ekrana göre esnek genişlik */
  margin: 50px auto;
  padding: 50px 40px; /* İç boşlukları biraz ayarladım */
  color: white;
}

/* Başlık */
.skillsTitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: black; /* Senin renk tercihin */
}

/* Ana sütun container */
.skillsMainContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Küçük ekranlarda alt alta gelmesini sağlar */
  gap: 20px;
}

/* Her sütun */
.skillColumn {
  flex: 1; /* 4 sütunu eşit genişlikte yapar */
  min-width: 200px; /* Küçük ekranlarda taşmayı önler */
}

.skillColumn ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Her bir yetenek */
.skillItem {
  font-size: 24px;
  margin-bottom: 10px;
  color:black; /* Senin renk tercihin */
  font-weight: 500;
  list-style: none;
}

.skillItem:hover{
  color: #ff6f61;
  cursor: pointer;
}

.skillItemLink{
  text-decoration: none;
}

/* Responsive */
@media (max-width: 992px) {
  .skillColumn {
    flex: 1 1 45%; /* Orta boy ekranda iki sütun */
  }
}

@media (max-width: 600px) {
  .skillColumn {
    flex: 1 1 100%; /* Küçük ekranda alt alta */
  }
}
